body {
  margin: 0;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(45, 223, 180, 0) 0deg,
    #1fac8a 359.93deg,
    rgba(37, 228, 182, 0.322917) 359.96deg,
    rgba(45, 223, 180, 0) 360deg
  );

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
